.front {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.front section {
  min-height: 100%;
  width: 50%;
  text-align: center;
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .front section {
    width: auto;
  }
}

.front section > a:first-child {
  font-size: 30px;
}

.front section img {
  height: auto;
  width: 55vh;
  max-width: 90%;
  margin: 20px auto 10px;
  display: block;
}

.browser img {
  width: 44vh !important;
  padding: 40px 0;
}

.front p {
  font-size: 20px;
  max-width: 70%;
  margin: 20px auto;
  line-height: 1.5;
}
