.front {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.front section {
  min-height: 100%;
  text-align: center;
  padding: 40px;
}

.front section > a:first-child {
  font-size: 30px;
}

.front section img {
  height: auto;
  width: 55vh;
  max-width: 90%;
  margin: 20px auto 10px;
  display: block;
}

.front p {
  font-size: 20px;
  max-width: 70%;
  margin: 20px auto;
  line-height: 1.5;
}
