<div class="kindle-lp">
  <i class="fa fa-chevron-right kindle-lp__next"
     [hidden]="step == 3"
     (click)="nextStep()"></i>

  <i class="fa fa-chevron-left kindle-lp__prev"
     [hidden]="step == 1"
     (click)="prevStep()"></i>

  <div class="kindle-lp__slider" [ngStyle]="{ transform: 'translateX(' + (-100 * (step - 1)) + '%)' }">
    <div class="kindle-lp__step">
      <div class="kindle-lp__frame">
        <kindle-frame></kindle-frame>
      </div>

      <div class="kindle-lp__content">
        <h2><b>1.&nbsp;</b>Connect your Kindle to the computer</h2>
        <small class="text-muted">
          Only newer Kindles (2013+) are supported.
          Alternatively, <a [routerLink]="[ '/books' ]">browse our demo vocabulary</a>.
        </small>
      </div>
    </div>

    <div class="kindle-lp__step">
      <div class="kindle-lp__content kindle-lp__content_center">
        <h2><b>2.&nbsp;</b>Locate the <code>vocab.db</code> file on the Kindle disk.</h2>
        <small class="text-muted">On mac: <code>/Volumes/Kindle/system/vocabulary/vocab.db</code></small>
      </div>

      <div class="kindle-lp__frame kindle-lp__frame_center">
        <mac-frame></mac-frame>
      </div>
    </div>

    <div class="kindle-lp__step">
      <div class="kindle-lp__content kindle-lp__content_center">
        <h2><b>3.&nbsp;</b>Drag & drop the <code>vocab.db</code> file here.</h2>
        <small class="text-muted">Your data will <b>not</b> be uploaded to any server. We'll process the file entirely locally in the browser.</small>
      </div>

      <div class="kindle-lp__frame kindle-lp__frame_center">
        <drop (uploadData)="onUpload($event)">
          <div class="kindle-lp__upload">
            <i class="fa fa-cloud-upload"></i>
          </div>
        </drop>
      </div>
    </div>
  </div>
</div>
