body {
    background-color: #fbea31;
}

.kindle-lp__frame {
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
}

.kindle-lp__frame_mac {
    font-size: 0.5vh;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.kindle-lp__content {
    position: absolute;
    z-index: 1;
    left: 60vh;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.kindle-lp__content_mac {
    left: 0;
    right: 0;
    top: 75%;
    text-align: center;
}

.kindle-lp__next {
    color: #fff;
    font-size: 80px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.kindle-lp__next:hover {
    opacity: 1;
}
