<div class="intro-view">
  <div class="intro-view__content">
    <div class="intro-view__headline">
      Extract flashcards from Kindle
    </div>

    <p>
      Export your Kindle dictionary look-ups along with the context into popular flashcard apps like Anki or Memrise. Add dictionary definitions, pictures and cloze tests.
    </p>

    <p>
      We support only newer Kindles (2013+) featuring the <a target="_blank" href="https://www.amazon.com/gp/help/customer/display.html?nodeId=201733850" rel="nofollow">Vocabulary Builder</a>.
    </p>
  </div>

  <div class="intro-view__sidebar">
    <p>
      Don't have a Kindle at hand?<br />
      Browse the <a [routerLink]="[ '/demo' ]">demo vocabulary</a>
    </p>
  </div>

  <div class="intro-view__call-to-action">
    <a [routerLink]="[ '/export' ]" class="btn">Start export</a>
  </div>
</div>
