<div class="intro-view">
  <div class="intro-view__content">
    <div class="intro-view__headline">
      Become fluent in&nbsp;a&nbsp;foreign language by&nbsp;enjoying native media
    </div>

    <div class="row sections">
      <div class="col-md-4">
        <a [routerLink]="[ '/export' ]" class="thumbnail">
          <span>Kindle Vocabulary</span>
          <div class="screenshot" style="background-image: url(/assets/screenshots/kindle.png)"></div>
        </a>
      </div>

      <div class="col-md-4">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/fluentcards/fdppeilamokmgmobedkdmjiedkbblngd" class="thumbnail">
          <span>Dictionary Extension</span>
          <div class="screenshot" style="background-image: url(/assets/screenshots/extension.png"></div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://video.fluentcards.com" class="thumbnail">
          <span>Video Flashcards</span>
          <div class="screenshot" style="background-image: url(assets/screenshots/videobook.png"></div>
        </a>
      </div>
    </div>
  </div>
</div>
