.intro-view p {
    margin-top: 32px;
    font-size: 16px;
}

.intro-view__content {
    display: inline-block;
    width: 70%;
    max-width: 640px;
    margin-right: 30px;
}

.intro-view__headline {
    font-size: 9vh;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 1em;
}

.intro-view__sidebar {
    display: inline-block;
    vertical-align: bottom;
}

.intro-view__call-to-action {
    margin-top: 30px;
    font-size: 20px;
}
