.vb-drop {
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: background-color 100ms ease-out;
}

.vb-drop_dragover {
    background-color: #eee;
}

.vb-drop__content {
    height: 100%;
}

.vb-drop_dragover  {
    opacity: 0.4;
}