.book {
    padding-top: 50px;
}

.book__nav {
    background-color: #e3f2fd;
}

.book__controls {
    margin: 20px 0;
}

.book__button {
    margin-left: 40px;
}

.book__title {
}

.book__table {
    margin: 20px 0;
}
