.book {
    background: #fff;
    margin: 0 -78px;
}

.book__container {
    margin: 24px;
    padding: 50px;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}

.book__header {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.book__controls {
    margin: 20px 0;
}

.book__control {
    white-space: nowrap;
}

.book__cover {
    margin-right: 20px;
    max-width: 120px;
}

.book__title {
    overflow: hidden;
}

.book__count {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-left: 1em;
}

.book__count-number {
    font-size: 100px;
    display: block;
    line-height: 1;
}

.book__table-wrapper {
    margin: 50px -50px;
}

.book__table {
    table-layout: fixed;
}

.book__word input {
    display: inline-block;
    width: auto;
}

.book__word b,
.book__word u {
    color: #999;
    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
    font-weight: normal;
}

.book__word b {
    color: #555;
}

.book__context {
    font-size: 14px;
}

.book__change-def,
.book__speak {
    margin-left: 0.5em;
    cursor: pointer;
}

.book__remove-vocab,
.book__get-image {
    cursor: pointer;
}

.book__help {
    cursor: pointer;
    font-size: 12px;
}

@media (min-width: 992px) {
    .book__help {
        position: absolute;
        transform: translate(-100%, 50px);
    }
}

.book__help a {
    text-decoration: none;
}

.book__images {
    position: absolute;
    z-index: 2;
}

.book__thumb {
    cursor: pointer;
    height: 24px;
    display: block;
}