<div class="navbar navbar-light navbar-full home__nav footer">
  <div class="container">
    <nav class="nav nav-inline">
      <span class="nav-link">© 2016 <a href="https://github.com/katspaugh">katspaugh</a></span>
      <span class="nav-link">UI design by <a href="https://dribbble.com/romasketch">Roma</a></span>
      <a class="nav-link" href="https://github.com/katspaugh/kindle-flashcards-browser/issues">Source code on GitHub</a>

      <a class="nav-link pull-right" href="http://translate.yandex.com/">Powered by Yandex.Translate</a>
    </nav>
  </div>
</div>
