<div class="navbar navbar-light navbar-full home__nav footer">
  <nav class="nav nav-inline">
    <span class="nav-link">© 2016 <a href="https://github.com/katspaugh">katspaugh</a></span>
    <span class="nav-link">UI design by <a href="https://dribbble.com/romasketch">Roma</a></span>
    <span class="nav-link">Powered by <a href="https://tech.yandex.com/dictionary/" rel="nofollow" target="_blank">Yandex.Dictionary</a>, <a href="https://tech.yandex.com/translate/" rel="nofollow" target="_blank">Yandex.Translate</a> and <a href="http://jisho.org"  rel="nofollow" target="_blank">Jisho.org</a></span>

    <a class="nav-link pull-right" href="mailto:katspaugh@gmail.com">Feedback?</a>
  </nav>
</div>
