<div class="navbar navbar-light navbar-full home__nav footer">
  <nav class="nav nav-inline">
    <span class="nav-link">© 2016 <a href="https://github.com/katspaugh">katspaugh</a></span>
    <span class="nav-link">UI design by <a href="https://dribbble.com/romasketch">Roma</a></span>
    <a class="nav-link" href="https://tech.yandex.com/dictionary/">Powered by Yandex.Dictionary</a>

    <a class="nav-link pull-right" href="https://github.com/katspaugh/fluentcards/issues">Having an issue?</a>
  </nav>
</div>
