.header__link {
    font-size: 20px;
    font-weight: bold;
}

.header__logo {
    display: block;
    height: 28px;
    margin-bottom: 5px;
}

.header__facebook {
    height: 24px;
    margin-top: 40px;
    position: relative;
}