.books-view {
    background: #fff;
    margin: 0 -78px;
}

.books-view__container {
    margin: 50px 24px 24px;
    padding: 50px 0;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}

.books-view__sidebar,
.books-view__content {
    display: inline-block;
    vertical-align: top;
}

.books-view__sidebar {
    width: 20%;
    margin-right: 5%;
}

.books-view__content {
    width: 75%;
}

@media (max-width: 768px) {
    .books-view__sidebar {
        display: none;
    }

    .books-view__content {
        width: 90%;
        margin: 0 5%;
    }
}

.books-view__count {
    text-align: center;
}

.books-view__count-number {
    display: block;
    font-size: 153px;
    font-weight: bold;
    line-height: 1;
}

.books-view__count-label {
    font-size: 20px;
    font-weight: bold;
}