.stories-view {
}

.stories-view__container {
    min-height: 100%;
    margin-left: 20%;
    padding-top: 100px;
}

@media (max-width: 1024px) {
    .stories-view__container {
        margin-left: 10%;
    }
}

.stories-view__item {
    margin: 1em 0;
}

.stories-view__author {
    margin-right: 0.2em;
}
