<div class="home">
  <drop (uploadData)="onUpload($event)">
    <div class="home__hint jumbotron" *ngIf="!hasData">
      <ol class="home__steps lead">
        <li>Plug you Kindle into the computer.</li>
        <li>Locate the vocabulary DB file (on Mac: <code>/Volumes/Kindle/system/vocabulary/vocab.db</code>).</li>
        <li><nobr>Drag & drop</nobr> the file here.</li>
      </ol>

      <img class="home__screenshot" src="https://cloud.githubusercontent.com/assets/381895/16584780/51a6e630-42c6-11e6-95ce-06f96612ff71.png" />
    </div>

    <div *ngIf="hasData">
      <nav class="navbar navbar-light navbar-full home__nav">
        <nav class="nav nav-inline">
          <a class="nav-link pull-right" href="https://github.com/katspaugh/kindle-flashcards-browser/issues">Having issues?</a>
        </nav>
      </nav>

      <div class="home__books container-fluid">
        <div class="jumbotron home__jumbotron">
          <p class="lead">This is a list of your Kindle books that have associated vocabulary. Click on any of them to view and export you vocabulary flashcards.</p>

          <hr class="m-y-2">

          <p class="text-muted">The books & vocabulary are cached in the browser. If you want to upload new vocabulary, drag & drop your <code>vocab.db</code> here again.</p>
        </div>

        <div class="home__book" *ngFor="let book of books">

          <div class="home__card card">
            <a class="home__book-link" [routerLink]="[ '/book/', book.asin ]">
              <div class="card-block">
                <div class="home__card-container">
                  <div *ngIf="book.cover" class="home__card-cover">
                    <img [src]="book.cover" alt="{{ book.title }} cover" />
                  </div>

                  <div class="home__card-content">
                    <h6 class="card-title">{{ truncateWords(book.title, 12) }}</h6>

                    <p class="card-text">by <em>{{ book.authors }}</em></p>

                    <span class="home__word-count label">
                      {{ book.count }}&nbsp;{{ book.count == 1 ? 'word' : 'words' }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </drop>
</div>
