.home {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #555;
}

.home__nav {
    background-color: #fbea31;
    margin-bottom: 20px;
}

.home__nav .active {
    font-weight: bold;
    color: #555;
}

.home__hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px dashed #e5e5e5;
    background-color: transparent;
    z-index: 1;
}

.home__steps {
    text-align: left;
}

.home__steps li {
    margin: 0.5em;
}

.home__screenshot {
    display: block;
    max-width: 600px;
}

.home__hero {
    margin-top: 64px;
    margin-bottom: 40px;
}

.home__lead {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
}

.home__books {
    display: flex;
    flex-wrap: wrap;
}

.home__book {
    flex-grow: 1;
    width: 33%;
    max-width: 33%;
    margin-left: -20px;
    margin-right: 20px;
}

@media (max-width: 1024px) {
    .home__book {
        width: 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .home__book {
        width: 100%;
        max-width: 100%;
    }
}

.home__book-link {
    color: #555;
    min-height: 200px;
    display: block;
    text-decoration: none;
}

.home__book-link:hover {
    background-color: rgba(251, 234, 49, 0.2);
}

.home__card {
    border: none;
    border-radius: 0;
}

.home__card-container {
    overflow: hidden;
    position: relative;
}

.home__card-cover {
    float: left;
    min-width: 107px;
    margin-right: 20px;
}

.home__card-content {
    overflow: hidden;
    padding-bottom: 20px;
}

.home__card-content .card-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
}

.home__card-content .card-text {
    font-size: 14px;
}

.home__word-count {
    font-size: 11px;
    padding: 0.4em 0.6em;
    background-color: #428bca;
    position: absolute;
    z-index: 1;
    bottom: 0;
}