<div class="home">
  <header>
    <strong class="nav-link active">List of books</strong>
  </header>

  <div class="home__content">
    <drop (uploadData)="onUpload($event)">
      <div class="home__hero container" [hidden]="books && !books.isDemo">
        <p class="home__lead">
          These are sample Kindle books. Drag&nbsp;&&nbsp;drop your own <code>vocab.db</code> file on this page to view your books and vocabulary.
        </p>
      </div>

      <div class="home__hero container" [hidden]="books && books.isDemo">
        <p class="home__lead">
          This is a list of your Kindle books that have associated vocabulary. Click on any of them to prepare and export you vocabulary flashcards.
        </p>

        <p class="text-muted"><i class="fa fa-info-circle"></i> The books & vocabulary are cached in the browser. If you want to upload new vocabulary, simply drag&nbsp;&&nbsp;drop your <code>vocab.db</code> on this page.</p>
      </div>

      <div class="home__books container">
        <div class="home__book" *ngFor="let book of books">

          <div class="home__card card">
            <a class="home__book-link" [routerLink]="[ '/books', book.asin ]">
              <div class="card-block">
                <div class="home__card-container">
                  <div *ngIf="book.cover" class="home__card-cover">
                    <img [src]="book.cover" alt="{{ book.title }} cover" />
                  </div>

                  <div class="home__card-content">
                    <h6 class="card-title">{{ truncateWords(book.title, 12) }}</h6>

                    <p class="card-text">by <em>{{ book.authors }}</em></p>

                    <span class="home__word-count label">
                      {{ book.count }}&nbsp;{{ book.count == 1 ? 'word' : 'words' }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </drop>
  </div>

  <footer></footer>
</div>
