<div class="start-view">
  <div class="start-view__container">
    <div class="start-view__content">
      <div class="start-view__headline">
        Export vocabulary from Kindle to CSV
      </div>

      <p>
        <b>fluentcards</b> lets you export your Kindle dictionary look-ups along with the context into CSV. We add dictionary definitions, pictures and cloze tests.
      </p>

      <p>
        We support newer Kindles that have the Vocabulary Builder feature: Kindle (2015+), Kindle Paperwhite (2013+), Kindle Voyage and Kindle Oasis.
      </p>
    </div>

    <div class="start-view__sidebar">
      <p>
        Don't have a Kindle at hand?<br />
        Browse the <a [routerLink]="[ '/demo' ]">demo vocabulary</a>
      </p>
    </div>

    <div class="start-view__call-to-action">
      <a [routerLink]="[ '/export' ]" class="btn">Start export</a>
    </div>
  </div>
</div>
