html {
    height: 100%;
}

html, body {
    min-height: 100%;
}

body {
    background: #fff656;
    color: #000;
    height: 100%;
    padding: 24px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 0.15em solid #000;
    padding-bottom: 0.1em;
    margin-bottom: -0.25em;
    transition: border-color 100ms ease-in;
}

a:hover,
a:active,
a:visited {
    border-bottom-color: transparent;
}

code {
    color: #333;
    background: none;
}

.btn,
.btn:active,
.btn:visited,
.btn:hover {
    background-color: #000;
    color: #fff656 !important;
    border-radius: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em !important;
    margin-bottom: 0 !important;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: none !important;
    text-transform: lowercase;
}

.btn:hover {
    background-color: #222;
}

.btn:active {
    background-color: #000;
}


.btn-default,
.btn-default:active,
.btn-default:visited,
.btn-default:hover {
    padding-left: 1em;
    padding-right: 1em;
    color: #fff !important;
}

.btn-small,
.btn-small:active,
.btn-small:visited,
.btn-small:hover {
    padding: 0.15em 0.4em !important;
}

.alert {
    position: fixed;
    max-width: 600px;
    right: 70px;
    top: 70px;
    z-index: 100;
}

.app {
    border: 4px solid #000;
    position: relative;
    margin-bottom: 24px;
    min-height: 100%;
}

.app__container {
    padding: 50px 50px 130px;
}

body.upload-page .app {
    border: 4px dashed #000;
    height: 100%;
}

body.upload-page footer {
    display: none;
}

body.book-page {
    background: #fff;
}

body.book-page .header__menu {
    visibility: hidden;
}

body.book-page .header__item_logo {
    visibility: visible;
}

body.book-page .header__facebook {
    display: none;
}
