<div class="book-list">
  <div class="book-list__book" *ngFor="let book of books">

    <div class="book-list__card card">
      <a class="book-list__book-link" [routerLink]="[ '/books', book.asin ]">
        <span class="book-list__word-count label">
          {{ book.count }}&nbsp;{{ book.count == 1 ? 'word' : 'words' }}
        </span>

        <div class="card-block">
          <div class="book-list__card-container">
            <div class="book-list__card-cover">
              <img *ngIf="book.cover" [src]="book.cover" (error)="book.cover = null" alt="{{ book.title }} cover" />

              <div *ngIf="!book.cover" class="book-list__pseudo-cover" [style.background]="book.gradient"></div>
            </div>

            <div class="book-list__card-content">
              <h6 class="card-title">{{ truncateWords(book.title, 12) }}</h6>

              <p class="card-text">by <em>{{ truncateWords(book.authors, 12) }}</em></p>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
