.book-list {
  margin: 0 -78px;
  background-color: #fff;
}

.book-list__layout {
  margin: 50px 24px 24px;
  padding: 50px 0;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
}

.book-list__wrapper {
  display: flex;
  align-content: stretch;
  border-bottom: 2px solid #000;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.book-list__layout > div:last-child .book-list__wrapper {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.book-list__sidebar {
  flex: 0 0 22vw;
}

@media (max-width: 768px) {
  .book-list__sidebar {
    display: none;
  }
}

.book-list__count {
  text-align: center;
}

.book-list__count-number {
  display: block;
  font-size: 153px;
  font-weight: bold;
  line-height: 1;
}

.book-list__count-label {
  font-size: 20px;
  font-weight: bold;
  text-transform: lowercase;
}

.book-list__main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.book-list__book {
  flex-grow: 1;
  width: 33%;
  max-width: 33%;
  margin-left: -20px;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .book-list__book {
    width: 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .book-list__book {
    width: 100%;
    max-width: 100%;
  }
}

.book-list__book-link {
  color: #555;
  min-height: 200px;
  display: block;
  text-decoration: none;
  border-bottom: none;
}

.book-list__book-link:hover {
  background-color: rgba(251, 234, 49, 0.2);
}

.book-list__card {
  border: none;
  border-radius: 0;
}

.book-list__card-container {
  overflow: hidden;
  position: relative;
}

.book-list__card-cover {
  float: left;
  min-width: 107px;
  margin-right: 20px;
}

.book-list__pseudo-cover {
  width: 107px;
  height: 160px;
  background-repeat: repeat;
  background-color: #fff656;
  position: relative;
}

.book-list__pseudo-cover:after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.025) 1%,
    rgba(0, 0, 0, 0) 2%,
    rgba(0, 0, 0, 0) 92%,
    rgba(0, 0, 0, 0.025) 94%,
    rgba(0, 0, 0, 0) 98%,
    rgba(0, 0, 0, 0.025) 99%
  );
}

.book-list__card-content {
  overflow: hidden;
  padding-bottom: 25px;
}

.book-list__card-content .card-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
}

.book-list__card-content .card-text {
  font-size: 14px;
}

.book-list__word-count {
  font-size: 11px;
  padding: 0.4em 0.6em;
  background-color: #000;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 127px;
  margin-left: 1.25rem;
}

.book-list__delete {
  display: none;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 1.25rem;
  text-decoration: underline;
  cursor: pointer;
}

.book-list__book:hover .book-list__delete {
  display: block;
}

.book-list__delete:hover {
  color: #000;
  text-decoration: none;
}
