.container {
  width: 100%;
  min-height: 70px;
  background-color: #FFF844;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
}

.container footer {
  margin: auto;
  padding: 1em 30px;
  text-align: center;
  font-size: 20px;
}
