.container {
  width: 100%;
  background-color: #FFF844;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.container footer {
  margin: auto;
  padding: 1em 30px;
  text-align: center;
  font-size: 12px;
}
