<div class="export-view">
  <div class="export-view__content">
    <div class="export-view__headline">
      Extract flashcards from Kindle
    </div>

    <p>
      Export your Kindle dictionary look-ups along with the context into popular flashcard apps like Anki or Memrise. Add dictionary definitions, pictures and cloze tests.
    </p>

    <p>
      Plug your Kindle into your computer through a USB cable.
    </p>
  </div>

  <div class="export-view__sidebar">
    <p>
      Don't have a Kindle at hand?<br />
      Browse the <a [routerLink]="[ '/demo' ]">demo vocabulary</a>
    </p>
  </div>

  <div class="export-view__call-to-action">
    <a [routerLink]="[ '/upload' ]" class="btn">Next step</a>
  </div>
</div>
