<div class="export-view">
  <div class="export-view__container">
    <div class="export-view__content">
      <div class="export-view__headline">
        Plug your Kindle into the computer
      </div>

      <p>
        Connect your Kindle device to your computer through a USB cable.
      </p>

      <p>
        Press the "Next step" button when you are ready.
      </p>
    </div>

    <div class="export-view__call-to-action">
      <a [routerLink]="[ '/upload' ]" class="btn">Next step</a>
    </div>
  </div>
</div>
