.export-view p {
    margin-top: 32px;
    font-size: 16px;
}

.export-view__content {
    width: 70%;
    max-width: 640px;
}

.export-view__headline {
    font-size: 9vh;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 1em;
}

.export-view__call-to-action {
    margin-top: 30px;
    font-size: 20px;
}
