.container {
  display: block;
  background: #FFF844;
  min-height: 34px;
}

.container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 30px;
  margin: auto;
}

.container nav .spacer {
  flex: 1;
}

@media only screen and (min-width: 1024px) {
  .container nav {
    width: 900px;
  }
}

.logo {
  margin-right: 1em;
  font-weight: bold;
}

.logo a {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  align-items: center;
}

.logo svg {
  display: block;
  height: 18px;
  width: auto;
  margin-right: 5px;
}

.link {
  margin-left: 20px;
}
