<div class="upload-view">
  <div class="upload-view__content">
    <div class="upload-view__headline">
      Upload vocab.db
    </div>

    <p>
      Locate the <a target="_blank" href="https://cloud.githubusercontent.com/assets/381895/17458585/ffa75e50-5c15-11e6-9f37-cb47cced55ec.png">vocab.db</a> file on your Kindle disk. Drag-n-drop the file to this page.
    </p>

    <p class="upload-view__note">
      Note: the file is processed and stored entirely locally in your browser.<br />
      We are not uploading your Kindle data to any server.
    </p>
  </div>
</div>
