.upload-view {
}

.upload-view__container {
    margin-left: 20%;
}

@media (max-width: 1024px) {
    .upload-view__container {
        margin-left: 10%;
    }
}

.upload-view p {
    margin-top: 32px;
    font-size: 16px;
}

.upload-view__content {
    width: 70%;
    max-width: 640px;
}

.upload-view__headline {
    font-size: 9vh;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 1em;
}

.upload-view__call-to-action {
    margin-top: 30px;
    font-size: 20px;
}

.upload-view__note {
    position: absolute;
    bottom: 50px;
    color: #555;
}
