<div class="upload-view">
  <div class="upload-view__content">
    <div class="upload-view__headline">
      Upload vocab.db
    </div>

    <p>
      Locate the
      <a class="upload-view__link" target="_blank" href="/assets/screenshots/vocab-db.png">vocab.db</a>
      <img class="upload-view__screenshot" src="/assets/screenshots/vocab-db.png" />
      file on your Kindle disk. Drag-n-drop the file to this page.
    </p>

    <p class="upload-view__note">
      Note: the file is processed and stored entirely locally in your browser.<br />
      We are not uploading your Kindle data to any server.
    </p>
  </div>
</div>
